.header-main{
    background-image: url('../../assets/Images/main.jpg');
    background-repeat: no-repeat;
    background-color: gray;
    background-blend-mode: soft-light;
    background-size: 100% auto;
    height: 1000px;
}


.header-box{
    height: 100vh;
	display: table;
	text-align: center;
    width: 100%;
}

.header-title{
    display: table-cell;
	color: #fff;
    letter-spacing: 2px;
    font-size:30px;
    vertical-align: middle;
}