<div id="prices" class="containerWhite">
    <h2 class="title"> <i>Tekošie darbi</i></h2>
    <table>
        <tr>
            <th>Auto modelis</th>
            <th>Klienta vāŗds</th>
            <th>Klienta epasts</th>
            <th>Klienta numurs</th>
            <th>Darba veids</th>
            <th>Darba līmenis</th>
            <th>Pieraksta laiks</th>
            <th>Pabeigt darbu</th>
            <th>Dzēst darbu</th>
        </tr>
        <tr>
            <td>Volvo s40</td>
            <td>Jānis Klients</td>
            <td>janis@klients.lv</td>
            <td>28799968</td>
            <th>Automazgāšana</th>
            <th>Zelta</th>
            <th>2020/09/19 11:00</th>
            <th>
                <form name="f1" action="#" >
                    <input id="Finish" type="submit" name="Finish" value="Pabeigt darbu">
                   </form>
            </th>                 
            <th>
                <form name="f2" action="#" >
                    <input id="Delete" type="submit" name="Delete" value="Dzēst darbu">
                   </form>
            </th>     
        </tr>
         <tr>
            <td>BMW M3</td>
            <td>Anna Klients</td>
            <td>anna@klients.lv</td>
            <td>26450436</td>
            <th>Konsultācija</th>
            <th>Sudraba</th>    
            <th>2020/09/21 12:00</th>
            <th>
                <form name="f1" action="#" >
                    <input id="Finish" type="submit" name="Finish" value="Pabeigt darbu">
                   </form>
            </th>                 
            <th>
                <form name="f2" action="#" >
                    <input id="Delete" type="submit" name="Delete" value="Dzēst darbu">
                   </form>
            </th>                                                                                       
        </tr>                                                                                                      
        <tr>
            <td>Audi A4</td>
            <td>Juris Darbinieks</td>
            <td>juris@klients.lv</td>
            <td>21112222</td>
            <th>Konsultācija</th>
            <th>Bronza</th>    
            <th>2020/09/22 14:00</th>
            <th>
                <form name="f1" action="#" >
                    <input id="Finish" type="submit" name="Finish" value="Pabeigt darbu">
                   </form>
            </th>                 
            <th>
                <form name="f2" action="#" >
                    <input id="Delete" type="submit" name="Delete" value="Dzēst darbu">
                   </form>
            </th>                                                                                       
        </tr>       
    </table>
</div>