<div class="containerBaige">
    <div style="text-align:center">
        <h2 class="title"> <i>Kontakti</i></h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../assets/Images/main.jpg" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">Vārds</label>
          <input type="text" id="fname" name="firstname" placeholder="Vārds">
          <label for="lname">Uzvārds</label>
          <input type="text" id="lname" name="lastname" placeholder="Uzvārds">
          <label for="subject">Tēma</label>
          <textarea id="subject" name="subject" placeholder="Uzraksti kaut ko jauku.." style="height:170px"></textarea>
          <input type="submit" value="Sūtīt">
        </form>
      </div>
    </div>
  </div>