<div id="timetable" class="containerBaige">
    <h2 class="title"> <i>DARBA LAIKS</i></h2>
    <table>
        <tr>
            <th>Pirmdiena</th>
            <th>Otrdiena</th>
            <th>Trešdiena</th>
            <th>Ceturtdiena</th>
            <th>Piektdiena</th>
            <th>Sestdiena </th>
            <th>Svētdiena</th>
        </tr>
        <tr>
            <th>10:00-18:00</th>
            <th>10:00-18:00</th>
            <th>10:00-18:00</th>
            <th>10:00-18:00</th>
            <th>10:00-18:00</th>
            <th>11:00-18:00</th>
            <th>11:00-18:00</th>
        </tr>
    </table>
</div>