<div id="prices" class="container">
    <h2 class="title"> <i>Cenas</i></h2>
    <table>
        <tr>
            <th>Pakalpojums</th>
            <th>Cena</th>
            <th>Pastāvīgajiem klientiem</th>
        </tr>
        <tr>
            <td>Automašīnas roku mazgāšana</td>
            <td>Sākot no 6 EUR</td>
            <td>Sākot no 5 EUR</td>
        </tr>
        <tr>
            <td>Automašīnas hibrīda mazgāšana</td>
            <td>Sākot no 10 EUR</td>
            <td>Sākot no 8 EUR</td>
        </tr>
        <tr>
            <td>Salona ķīmiskā tīrīšana (sedans, universālis)</td>
            <td>Sākot no 60 EUR</td>
            <td>Sākot no 55 EUR</td>
        </tr>
        <tr>
            <td>Salona ķīmiskā tīrīšana (busiņš)</td>
            <td>Sākot no 90 EUR </td>
            <td>Sākot no 85 EUR </td>
        </tr>
        <tr>
            <td>Viegla automašīnas skalošana</td>
            <td>Sākot no 3 EUR </td>
            <td>Sākot no 3 EUR</td>
        </tr>
        <tr>
            <td>Dzinēja mazgāšana</td>
            <td>Sākot no 10 EUR</td>
            <td>Sākot no 10 EUR</td>
        </tr>
    </table>
</div>