<form [formGroup]="submitForm" (ngSubmit)="submitData();" >
    <h1>Kontaktinformācija</h1>
    <label for="fname">Vārds:</label><br>
    <input required type="text" formControlName="fname"><br>
    <br>

    <label for="lname">Uzvārds:</label><br>
    <input required type="text" formControlName="lname"><br>
    <br>

    <label for="phone">Telefona numurs:</label><br>
    <input required type="text" formControlName="phone"><br>
    <br>

    <label for="email">E-pasts</label><br>
    <input required type="text" formControlName="email"><br>
    <br>

    <h1>Par auto</h1>
    <label for="model">Auto modelis:</label><br>
    <input required type="text" formControlName="model"><br>
    <br>

    <label for="service">Pakalpojuma tips:</label><br>
    <select formControlName="service" >
        <option value="Automazgāšana">Automazgāšana</option>
        <option value="Salona ķīmiskā'tīrīsana">Salona ķīmiskā'tīrīsana</option>
        <option value="Konsultācija">Konsultācija</option>
    </select><br>
    <br>

    <label for="quality">Pakalpojuma tips:</label><br>
    <select formControlName="quality"><br>
        <option value="Zelta">Zelta</option>
        <option value="Sudraba">Sudraba</option>
        <option value="Bronzas">Bronzas</option>
    </select><br>
    <br>

    <label for="comments">Citi komentāri:</label><br>
    <textarea class = "commentArea" formControlName="comments"></textarea>
    <br>

    <input class="submitBtn" type="submit" value="Pieteikties">

  </form>